* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* body {
  display: grid;
  grid-template-columns: 300px 1fr;
} */

/* .task {
  display: grid;
  grid-template-columns: 20px 150px 150px 20px;
} */

.modal-container {
  display: none; 
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#add-task-modal, #info-modal, #edit-modal {
  background-color: #fefefe;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 50%;
  position: relative;
}

#close-task-modal, #close-info-modal, #close-edit-modal {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 2em;
  cursor: pointer;
}

.tasks li, #task-headers {
  display: grid;
  grid-template-columns: 1fr 48px 48px 82px 48px 48px;
  gap: 10px;
  align-items: center;
}

.tasks input[type='checkbox'] {
  display: none;
}

.tasks img, .tasks label {
  cursor: pointer;
}

.tasks img:hover {
  opacity: 0.4;
}

.faded {
  opacity: 0.1;
}

.green-checkmark {
  background: rgb(108, 165, 108);
  border-radius: 5px;
}

.yellow-star {
  background: rgb(212, 191, 70);
  border-radius: 50%;
}

.title-label, #title-block {
  display: grid;
  grid-template-columns: 48px 1fr 1fr;
  gap: 10px;
  align-items: center;
}

#info-modal {
  display: grid;
  grid-template-columns: 100px 1fr;
}

#edit-modal {
  display: grid;
}

#edit-id { 
  display: none;
}

#add-task-modal {
  display: grid;
  justify-content: center;
  gap: 10px;
}

li:nth-child(odd) {
  background: #eee;
}

li:hover {
  background: #ddd;
}

#edit-modal label {
  display: grid;
  grid-template-columns: 150px 1fr;
  padding: 5px 0;
}

.filter, .task-header {
  cursor: pointer;
}

.filter:hover, .task-header:hover {
  background: #eee;
}

.created-project {
  padding-left: 10px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background:rgb(108, 165, 108);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background:rgb(74, 114, 74)
}

input, textarea, select {
  padding: 8px;
}

textarea {
  resize: none;
  height: 6em;
}

nav {
  padding: 10px;
  display: grid;  
  display: 5px;
  /* border: 2px solid red; */
  min-height: 50vh;
  font-size: 20px;
}

#create-project-btn {
  margin-top: 50px;
  height: 3em;
}

#logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filter:hover {
  padding-left: 10px;
}

.created-project:hover {
  font-weight: bold;
}

.center {
  text-align: center;
}

#default-view {
  display: grid;
  grid-template-columns: 300px minmax(500px, 1000px);
  justify-content: center;
}

#filter-criteria {
  font-size: 2em;
  font-weight: bold;
  padding: 0.5rem 0;
}

.fraction {
  min-width: 200px;
}

#task-view {
  padding: 10px;
}

#edit-priority {
  justify-self: flex-start;
}

#update-task {
  width: 30%;
  margin: 20px auto 0;
}

#add-project-btn {
  margin: 0 5px;
}

.grid-container {
  display: grid;
}

#task-priority {
  margin-left: 10px;
}

.flex-container {
  display: flex;
}

.flex-center { 
  justify-content: center;
  gap: 10px;
}